body{
    font-family: Urbanist;
    background-color: #FFFFFF;
    
}
.header_top{
    display: flex;
    justify-content: space-between;
   align-items: center;
   max-width: 100%;
   padding: 30px;
   

}
.shop{
    display: flex;
    align-items: center;
    justify-content: space-end;
    padding-right: 30px;

}
.header_text{
    font-size: 14px;
    margin: 0px 0px;
}
.text_h1{
    font-size:54px;
    margin:20px; 

}
.text_main{
    font-size:18px; 
    margin:20px;


}
.button_main{
    font-size:20px;
    background-image: url(/image/contact_us.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 30px;
    text-decoration: none;
    color: #FFFFFF;
}
.button_main2{
    font-size:20px;
    background-image: url(/image/our_projects.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8px 30px;
    text-decoration: none;
    color: #181A3F;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main_info{
    max-width: 100%;
}
.info_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    
}
